h1 {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

h3 {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#cotegauche {
    float: left;
}

.headerp {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

ul {
    list-style: none;
    font-size: 1.3em;
}

footer, i {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.projets {
    margin-right: 200px;
}

body {
font-family: 'Crimson Text', serif;
}

p {
    font-size: 1.3em;
}