h1 {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

h2 {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

h3 {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.headerp {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

ul {
    list-style: none;
    font-size: 1.3em;
}

footer, i {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.projets {
    margin-right: 17%;
    margin-bottom: 2%;
}

body {

    font-family: 'Crimson Text', serif;
}

p {
    font-size: 1.3em;
}

#ls {
    width: 30%;
    height: 30%;
    display: flex;
    margin-left: 35%;
}

.navcolor {
    background-color: rgb(245, 147, 0);
}

#truc {
    font-size: 1.2em;
    font-style: bold;
}

.lol {
    margin-left: 10%;
}

.lititle {
    font-size: 1.4em;
}

.xp {
    font-size: 2.5em;
    margin-top: 2%;
}

.tit {
    text-decoration: underline;
}